#main p{
    padding: 20px;
    border:2px solid black; 
}

#main.about{
    background-color: rgb(226, 214, 43);
    text-align: center;
}

#main.task{
    background-color: brown;

}

#schedule{
    list-style: georgian;
}